@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

p,
li {
  font-family: 'IBM Plex Mono', monospace;
}

h1,
h2 {
  font-size: 36px;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 2% 5% 5% 5%;
}

body {
  margin: 0;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.navbar>ul>li>a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

li>a:active {
  text-decoration: line-through;
  color: rgba(6, 10, 36, 0.56);
}

/* NAVBAR MOBILE */

.navbar {
  width: 100%;

}

.navbar ul {
  margin: 5px;
  list-style: none;
  overflow: hidden;
}

.navbar li {
  margin: 15px;
  color: white;
}

.navbar li a {
  text-decoration: none;
}

.navbar .logo {
  float: left;
  font-size: 2em;
  padding: 18px 20px;
  text-decoration: none;
}

/* MENU */

.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background-color: #0000EC;
}

/* MENU ICON */

.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 20px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 5px;
}

.navbar .menu-icon .navicon:after {
  top: -5px;
}

/* MENU BTN*/

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked~.menu {
  max-height: 240px;
}

.navbar .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* INTRO */
.intro-title {
  font-size: 36px;
}

.intro-text {
  font-size: 14px;
  margin: 0% 5% 0% 5%;
  padding: 0 5% 0 0;
  text-align: justify;
}

.btn-hover {
  background-color: #00F3BB;
  border: none;
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 5%;
  margin-bottom: 10%;
}

.container-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-intro {
  width: 90%;
  height: 56px;
}

.btn-hover:hover {
  background-image: linear-gradient(to left, #0000FE, #00F0B8);
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

/* EPISODIOS */

.episodios {
  height: auto;
  background-image: linear-gradient(to top, #0000A3, #0000FF);
}

.episodios-title {
  margin-top: 10%;
  margin-bottom: 0;
  color: white;
}

.container-iframes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5% 0 30% 0;
}

iframe {
  margin: 2% 4%;
  border: 0;
}

svg {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10vw;
}

.triangle {
  position: relative;
  bottom: -5px;
  width: 100%;
  height: 10vw;
}

/* DE DONDE VENIMOS */

#phone {
  position: relative;
  top: -100px;
  width: 100%;
  height: auto;
}

.container-ddv {
  display: flex;
  flex-direction: column;
}

.ddv-text {
  margin: 0 5% 20% 5%;
}

/* INVITADAS */

.container-invitadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-invitadas {
  width: 100%;
  height: auto;
  margin: 0;
}

.iv-title {
  font-size: 36px;
  margin-bottom: 20px;
}

/* TEMAS */

.container-temas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.container-temas>div {
  text-align: center;
  font-weight: bold;
  flex: 0 15%;
  margin: 5% 3% 5% 3%;
}



/* NOVEDADES */

.container-nv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.novedades-title {
  margin-top: 10%;
  color: white;
  text-align: center;
}

.btn-nv {
  width: 90%;
  height: 56px;
}

.novedades {
  height: auto;
  background-image: linear-gradient(to top, #0000A3, #0000FF);
  padding-bottom: 10%;
}

/* FOOTER */

.container-ft {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link-social {
  color: black;
}


.link-social:visited {
  color: black;
}

i {
  margin: 15px;
  margin-bottom: 20px;
}


/* ----------------- DESKTOP ------------------- */

@media screen and (min-width: 768px) {

  h1,
  h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 5% 10% 0% 10%;
  }

  a {
    color: black;
  }

  a:visited {
    color: black;
  }


  /* NAVBAR */
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 80px;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu li {
    margin: 30px;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
    margin-left: 50px;
  }

  .navbar li a {
    padding: 20px 30px;
  }

  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
    background-color: white;
  }

  .navbar .menu-icon {
    display: none;
  }

  /* INTRO */

  .intro {
    height: auto;
  }

  .intro-title {
    font-size: 64px;
  }

  .intro-text {
    margin-left: 10%;
    padding-right: 40%;
  }

  .container-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .btn-intro {
    margin-left: 10%;
    width: 20%;
    height: 56px;
  }

  .btn-hover {
    margin-bottom: 0;
  }

  /* EPISODIOS */

  .episodios {
    height: auto;
    background-image: linear-gradient(to right, #0000A3, #0000FF)
  }

  .episodios-title {
    font-size: 48px;
    color: white;
    margin: 3% 10% 0 10%;
  }

  .container-iframes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 5%;
  }

  .container-iframes>iframe {
    flex: 0 40%;
  }

  iframe {
    border: 0;
    width: 92%;
    height: 232;
  }

  svg {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vw;
  }

  .triangle {
    position: relative;
    bottom: -4px;
    width: 100%;
    height: 10vw;
  }

  /* DE DONDE VENIMOS */

  .container-ddv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-ddv>div {
    flex: 0 40%;
    margin: 3%;
  }

  .container-ddv>div p {
    margin: 5% 10% 0% 10%;
    line-height: 24px;
  }

  #phone {
    position: relative;
    top: -130px;
    width: 457.6px;
    height: 660px;
  }

  /* INVITADAS */
  .container-invitadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-invitadas {
    margin: 0;
    width: 33.33%;
    height: auto;
  }

  .iv-title {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  /* TEMAS */

  .container-temas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-temas>div {
    text-align: center;
    font-weight: bold;
    flex: 0 15%;
    margin: 0% 3% 0 3%;
  }

  .temas {
    height: auto;
  }

  .temas-title {
    font-size: 48px;
    margin-bottom: 5%;
  }

  /* NOVEDADES */

  .novedades {
    height: 518px;
    background-image: linear-gradient(to right, #0000A3, #0000FF);
  }

  .container-nv {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .novedades-title {
    font-size: 48px;
    color: white;
  }

  .btn-nv {
    width: 345px;
    height: 56px;
  }

  /* FOOTER */

  .container-ft {
    margin: 0 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  i {
    margin: 10px;
  }

}